.mm-clock {
  text-align: center;
  justify-content: center;

  & > time {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    line-height: 1;

    & > .mmClock-divider {
      animation: colorfade 1s linear infinite alternate;
    }
  }

  & > h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0;
    line-height: 1;
  }

  & > h4 {
    margin: 0.5rem;
  }
}

@keyframes colorfade {
    from {color: #fff;}
    to {color: #666;}
}